<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
	<DataCollectionRunSettings>
		<DataCollectors>
			<DataCollector friendlyName="XPlat code coverage">
				<Configuration>
					<Format>json,cobertura</Format>
					<ExcludeByFile>**/Migrations/*.cs,**/Connected Services/**/*.cs,</ExcludeByFile>
					<Exclude>[coverlet.*.tests?]*,[*]Coverlet.Core*</Exclude>
					<ExcludeByAttribute>Obsolete,GeneratedCodeAttribute,CompilerGeneratedAttribute</ExcludeByAttribute>
				</Configuration>
			</DataCollector>
		</DataCollectors>
	</DataCollectionRunSettings>
	<TestRunParameters>
		<Parameter name="Environment" value="local" />
		<Parameter name="ClientId" value="c911e027-3cbc-4614-9f2e-872c20b8f4b2" />
		<Parameter name="TenantId" value="8421dd92-337e-4405-8cfc-16118ffc5715" />
		<Parameter name="ClientSecret" value="CHANGE_ME" />
	</TestRunParameters>
	<RunConfiguration>
		<CollectSourceInformation>true</CollectSourceInformation>
		<MaxCpuCount>0</MaxCpuCount>
		<ResultsDirectory>../../../tests</ResultsDirectory>
	</RunConfiguration>
	<MSTest>
		<Parallelize>
			<Workers>0</Workers>
			<Scope>MethodLevel</Scope>
		</Parallelize>
	</MSTest>
</RunSettings>