name: Shared Application CD Workflow

on:
  workflow_call:
    secrets:
      AZURE_TENANT_ID:
        required: true
        description: "Azure Tenant ID"
      AZURE_CLIENT_ID:
        required: true
        description: "Azure Client ID"
      AZURE_PLATFORM_SUBSCRIPTION_ID:
        required: true
        description: "Azure Platform Subscription ID"
      AZURE_DEV_SUBSCRIPTION_ID:
        required: true
        description: "Azure Dev Subscription ID"
      AZURE_PROD_SUBSCRIPTION_ID:
        required: true
        description: "Azure Prod Subscription ID"
    inputs:
      applicationFolder:
        type: string
        required: true
        description: "Application Folder"
      applicationName:
        type: string
        required: true
        description: "Application Name"
      singleCluster:
        type: boolean
        required: true
        description: "Deploy to a single cluster or all"

jobs:
  app_package:
    uses: ./.github/workflows/shared-app-package-workflow.yaml
    secrets:
      AZURE_TENANT_ID: ${{ secrets.AZURE_TENANT_ID }}
      AZURE_CLIENT_ID: ${{ secrets.AZURE_CLIENT_ID }}
      AZURE_SUBSCRIPTION_ID: ${{ secrets.AZURE_PLATFORM_SUBSCRIPTION_ID }}
    with:
      acrName: computeaksacr
      applicationFolder: ${{ inputs.applicationFolder }}
      applicationName: ${{ inputs.applicationName }}

  app_initialization_dev:
    needs: [app_package]
    uses: ./.github/workflows/shared-app-initialization-workflow.yaml
    secrets:
      AZURE_TENANT_ID: ${{ secrets.AZURE_TENANT_ID }}
      AZURE_CLIENT_ID: ${{ secrets.AZURE_CLIENT_ID }}
      AZURE_SUBSCRIPTION_ID: ${{ secrets.AZURE_DEV_SUBSCRIPTION_ID }}
    with:
      environment: dev
      SERVICE_PRINCIPAL_NAME: ${{ vars.PRINCIPAL_NAME_DEV }}
      RESOURCE_GROUP_NAME: ${{ vars.RESOURCE_GROUP_DEV }}
      LOG_ANALYTICS_WORKSPACE_ID: ${{ vars.WORKSPACE_ID_DEV }}

  app_deployment_dev:
    needs: [app_package, app_initialization_dev]
    uses: ./.github/workflows/shared-app-deployment-workflow.yaml
    secrets:
      AZURE_TENANT_ID: ${{ secrets.AZURE_TENANT_ID }}
      AZURE_CLIENT_ID: ${{ secrets.AZURE_CLIENT_ID }}
      AZURE_SUBSCRIPTION_ID: ${{ secrets.AZURE_DEV_SUBSCRIPTION_ID }}
    with:
      acrName: computeaksacr
      applicationFolder: ${{ inputs.applicationFolder }}
      applicationName: ${{ inputs.applicationName }}
      applicationVersion: ${{ needs.app_package.outputs.applicationVersion }}
      environment: dev
      singleCluster: ${{ inputs.singleCluster }}
      SERVICE_PRINCIPAL_NAME: ${{ vars.PRINCIPAL_NAME_DEV }}

  app_integration_tests_dev:
    needs: app_deployment_dev
    uses: ./.github/workflows/shared-app-integration-tests-workflow.yaml
    secrets:
      AZURE_TENANT_ID: ${{ secrets.AZURE_TENANT_ID }}
      AZURE_CLIENT_ID: ${{ secrets.AZURE_CLIENT_ID }}
      AZURE_SUBSCRIPTION_ID: ${{ secrets.AZURE_DEV_SUBSCRIPTION_ID }}
    with:
      applicationFolder: ${{ inputs.applicationFolder }}
      environment: dev

  app_initialization_test:
    needs: [app_package, app_integration_tests_dev]
    uses: ./.github/workflows/shared-app-initialization-workflow.yaml
    secrets:
      AZURE_TENANT_ID: ${{ secrets.AZURE_TENANT_ID }}
      AZURE_CLIENT_ID: ${{ secrets.AZURE_CLIENT_ID }}
      AZURE_SUBSCRIPTION_ID: ${{ secrets.AZURE_DEV_SUBSCRIPTION_ID }}
    with:
      environment: test
      SERVICE_PRINCIPAL_NAME: ${{ vars.PRINCIPAL_NAME_TEST }}
      RESOURCE_GROUP_NAME: ${{ vars.RESOURCE_GROUP_TEST }}
      LOG_ANALYTICS_WORKSPACE_ID: ${{ vars.WORKSPACE_ID_TEST }}

  app_deployment_test:
    needs: [app_package, app_integration_tests_dev, app_initialization_test]
    uses: ./.github/workflows/shared-app-deployment-workflow.yaml
    secrets:
      AZURE_TENANT_ID: ${{ secrets.AZURE_TENANT_ID }}
      AZURE_CLIENT_ID: ${{ secrets.AZURE_CLIENT_ID }}
      AZURE_SUBSCRIPTION_ID: ${{ secrets.AZURE_DEV_SUBSCRIPTION_ID }}
    with:
      acrName: computeaksacr
      applicationFolder: ${{ inputs.applicationFolder }}
      applicationName: ${{ inputs.applicationName }}
      applicationVersion: ${{ needs.app_package.outputs.applicationVersion }}
      environment: test
      singleCluster: ${{ inputs.singleCluster }}
      SERVICE_PRINCIPAL_NAME: ${{ vars.PRINCIPAL_NAME_TEST }}

  app_integration_tests_test:
    needs: app_deployment_test
    uses: ./.github/workflows/shared-app-integration-tests-workflow.yaml
    secrets:
      AZURE_TENANT_ID: ${{ secrets.AZURE_TENANT_ID }}
      AZURE_CLIENT_ID: ${{ secrets.AZURE_CLIENT_ID }}
      AZURE_SUBSCRIPTION_ID: ${{ secrets.AZURE_DEV_SUBSCRIPTION_ID }}
    with:
      applicationFolder: ${{ inputs.applicationFolder }}
      environment: test
      testCategory: "Smoke"

  app_initialization_prod:
    needs: [app_package, app_integration_tests_test]
    uses: ./.github/workflows/shared-app-initialization-workflow.yaml
    secrets:
      AZURE_TENANT_ID: ${{ secrets.AZURE_TENANT_ID }}
      AZURE_CLIENT_ID: ${{ secrets.AZURE_CLIENT_ID }}
      AZURE_SUBSCRIPTION_ID: ${{ secrets.AZURE_PROD_SUBSCRIPTION_ID }}
    with:
      environment: prod
      SERVICE_PRINCIPAL_NAME: ${{ vars.PRINCIPAL_NAME_PROD }}
      RESOURCE_GROUP_NAME: ${{ vars.RESOURCE_GROUP_PROD }}
      LOG_ANALYTICS_WORKSPACE_ID: ${{ vars.WORKSPACE_ID_PROD }}

  app_deployment_prod:
    needs: [app_package, app_integration_tests_test, app_initialization_prod]
    uses: ./.github/workflows/shared-app-deployment-workflow.yaml
    secrets:
      AZURE_TENANT_ID: ${{ secrets.AZURE_TENANT_ID }}
      AZURE_CLIENT_ID: ${{ secrets.AZURE_CLIENT_ID }}
      AZURE_SUBSCRIPTION_ID: ${{ secrets.AZURE_PROD_SUBSCRIPTION_ID }}
    with:
      acrName: computeaksacr
      applicationFolder: ${{ inputs.applicationFolder }}
      applicationName: ${{ inputs.applicationName }}
      applicationVersion: ${{ needs.app_package.outputs.applicationVersion }}
      environment: prod
      singleCluster: ${{ inputs.singleCluster }}
      SERVICE_PRINCIPAL_NAME: ${{ vars.PRINCIPAL_NAME_PROD }}

  app_integration_tests_prod:
    needs: app_deployment_prod
    uses: ./.github/workflows/shared-app-integration-tests-workflow.yaml
    secrets:
      AZURE_TENANT_ID: ${{ secrets.AZURE_TENANT_ID }}
      AZURE_CLIENT_ID: ${{ secrets.AZURE_CLIENT_ID }}
      AZURE_SUBSCRIPTION_ID: ${{ secrets.AZURE_PROD_SUBSCRIPTION_ID }}
    with:
      applicationFolder: ${{ inputs.applicationFolder }}
      environment: prod
      testCategory: "Smoke"
