name: Shared Application Deployment Workflow

on:
  workflow_call:
    secrets:
      AZURE_TENANT_ID:
        required: true
        description: "Azure Tenant ID"
      AZURE_CLIENT_ID:
        required: true
        description: "Azure Client ID"
      AZURE_SUBSCRIPTION_ID:
        required: true
        description: "Azure Subscription ID"
    inputs:
      acrName:
        type: string
        required: true
        description: "Azure Container Registry Name"
      applicationFolder:
        type: string
        required: true
        description: "Application Folder"
      applicationName:
        type: string
        required: true
        description: "Application Name"
      applicationVersion:
        type: string
        required: true
        description: "Application Version"
      environment:
        type: string
        required: true
        description: "Environment"
      singleCluster:
        type: boolean
        required: true
        description: "Deploy to a single cluster or all"
      SERVICE_PRINCIPAL_NAME:
        type: string
        required: true
        description: "Service Principal Name"

jobs:
  deploy_app:
    name: Deploy Application to ${{ inputs.environment }} ${{ matrix.regionShortCode }}
    environment: ${{ inputs.environment }}
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        regionShortCode: ["ne", "we"]
        exclude:
          - regionShortCode: ${{ inputs.singleCluster && 'we' || '_' }}
    steps:
      - name: checkout repo
        uses: actions/checkout@v6

      - name: azure login
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.AZURE_TENANT_ID }}
          subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
          enable-AzPSSession: true

      - name: compute environment variables
        uses: azure/powershell@v2
        env:
          AKS_CLUSTER_NAME: ${{ vars[format('AKS_{0}_{1}_CLUSTER', matrix.regionShortCode, inputs.environment)] }}
        with:
          inlineScript: |
            try{
              # Get service principal client ID
              $sp = Get-AzADServicePrincipal -DisplayName ${{ inputs.SERVICE_PRINCIPAL_NAME }}
              if (!$sp) {
                throw "Service principal '${{ inputs.SERVICE_PRINCIPAL_NAME }}' not found"
              }
              $AKSClusterServiceAccountClientId = (Get-AzADApplication -ApplicationId $sp.AppId).AppId
              
              echo "AKS_CLUSTER_SERVICE_ACCOUNT_CLIENT_ID=$AKSClusterServiceAccountClientId" >> $env:GITHUB_ENV
              echo "AZURE_ENTRA_EXTERNAL_TENANT_ID=$env:AZURE_ENTRA_EXTERNAL_TENANT_ID" >> $env:GITHUB_ENV
              echo "AKS_CLUSTER_NAME=$env:AKS_CLUSTER_NAME" >> $env:GITHUB_ENV
              # Pass inputs to environment variables
              echo "ACR_NAME=${{ inputs.acrName }}" >> $env:GITHUB_ENV
              echo "APPLICATION_FOLDER=${{ inputs.applicationFolder }}" >> $env:GITHUB_ENV
              echo "APPLICATION_NAME=${{ inputs.applicationName }}" >> $env:GITHUB_ENV
              echo "APPLICATION_VERSION=${{ inputs.applicationVersion }}" >> $env:GITHUB_ENV
              
            }
            catch {
              Write-Error $_
              exit 1
            }
          azPSVersion: "latest"
      - name: setup kubectl
        uses: azure/use-kubelogin@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          kubelogin-version: "latest"

      - name: Gets K8s context
        uses: azure/aks-set-context@v4
        with:
          resource-group: compute-${{ matrix.regionShortCode }}-${{ inputs.environment }}
          cluster-name: ${{ env.AKS_CLUSTER_NAME }}
          use-kubelogin: "true"
        id: k8context

      - name: setup helm
        uses: azure/setup-helm@v4

      - name: ACR login
        id: acrLogin
        run: |
          ACR_TOKEN=$(az acr login --name $ACR_NAME --expose-token --output tsv --query accessToken)
          echo "ACR_TOKEN=$ACR_TOKEN" >> $GITHUB_OUTPUT
          az acr login --name $ACR_NAME

      - name: get helm chart
        working-directory: ./charts/${{ env.APPLICATION_FOLDER }}
        run: helm pull oci://$ACR_NAME.azurecr.io/helm/${{ env.APPLICATION_NAME }} --version $APPLICATION_VERSION

      - name: deploy app
        working-directory: ./charts/${{ env.APPLICATION_FOLDER }}
        run: >
          helm upgrade
          ${{ env.APPLICATION_NAME }}
          ${{ env.APPLICATION_NAME }}-$APPLICATION_VERSION.tgz
          -i
          -f ${{ inputs.environment }}.yaml
          --set reason="Upgrade to $APPLICATION_VERSION"
          --set-string AKSClusterServiceAccountClientId="$AKS_CLUSTER_SERVICE_ACCOUNT_CLIENT_ID"
          --set-string AzureEntraExternalTenantId="$AZURE_ENTRA_EXTERNAL_TENANT_ID"
          -n platform-teams-notification-api
          --atomic
